.Header {
    text-align: center;
    background-color: rgb(31, 27, 34);
    height: 160px;
    padding: 28px;
    color: aliceblue;
}

.Menu {
    margin: 0;
    padding: 0;
    list-style: none;

}

.Menu li {
    display: inline-block;
    padding-right: 18px;
}
.Menu li a {
    color: #CCC;
    text-decoration: none;
}
.Menu li a:hover {
    color: #EEE;
}