.card{
    border-radius: 10px;
    background-color: transparent;
}

.saved-list{
    border-radius: 15px;
    background-color: transparent;
}

.deleteBook {
    border-radius: 5px;
    margin-left: 10px
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px
}